<nav>
    <ul>
        <li>Epsilon Bank</li>
        <li><a href="{{ site.baseurl }}/">Home </a></li>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>
        <li><a href="{{ site.baseurl }}/documentation/">Documentation</a></li>
    </ul>
</nav>
