{% extends "base.html" %}
{% block main %}

<h2>Hello, {{ user.customer.full_name }}</h2>

<h3 class="account-name">{{ account.name }}</h3>
{% if account.is_active %}
<p class="tags status-tag-active">Active</p>
{% else %}
<p class="tags status-tag-inactive">Inactive</p>
{% endif %}

<h4>Balance: <span class="balance">${{ account.balance }}</span></h4>
{% if account.loan %}
<p>Interest: {{ interest_rate }}% ({{ account.loan_interest }})</p>
{% endif %}

<table>
    <tr>
        <th>Transaction</th>
        <th>Amount</th>
        <th>Date</th>
        <th>ID</th>
    </tr>
    {% for movement in movements %}
    <tr>
        <td>{{ movement.text }}</td>
        <td>{{ movement.amount }}</td>
        <td class="nowrap">{{ movement.timestamp | date:"M d, Y" }}</td>
        <td>{{ movement.transaction }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">There are no transactions yet.</td>
    </tr>
    {% endfor %}
</table>

{% endblock main %}

