{% extends "base.html" %}     
{% block main %}

<h2>Hello, {{ user.customer.full_name }}</h2>

<h4>Here you can create new accounts</h4>

<form action="{% url 'bank_app:create_account' %}" method="post">
    {% csrf_token %}                                         
    <fieldset>
        <legend><h5>Create Account</h5></legend>
        {{ new_account_form }}                                           
        <button>Create new account</button>                         
    </fieldset>                                              
</form>                                                      
{% endblock main %}                                          


