{% extends "base.html" %}
{% block main %}

<h2>Hello, {{ user.customer.full_name }}</h2>

<p class="tags rank-tag">{{ user.customer.rank.name }}</p>
<h4>Accounts</h4>

<table>
    <tr>
        <th>Account Number</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Status</th>
    </tr>

    {% for account in accounts %}
    <tr>
        {% csrf_token %}
        <td><a href="{% url 'bank_app:account_details' account.pk %}">{{ account.pk }}</a></td>
        <td>{{ account.name }}</td>
        <td><h5 style="margin: 5px 0">${{ account.balance }}</h5></td>
        <td>{% if account.is_active %} Active {% else %} Deactivated {% endif %}</td>
    </tr>
    {% endfor %}
</table>

<h5>Loan Applications</h5>

<table>
    <thead>
        <tr>
            <th>Amount</th>
            <th>Name</th>
            <th>Account</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for loan_request in loan_requests %}
        <tr>
            <td>{{ loan_request.amount }}</td>
            <td>{{ loan_request.name }}</td>
            <td>{{ loan_request.account }}</td>
            <td>{{ loan_request.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock main %}
