{% extends "base.html" %}
{% block main %}

<h1>ERROR :)</h1>

<p>{{ error }}</p>

<button onclick="goBack()">Go Back</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>

{% endblock main %}}
