{% extends "base.html" %}
{% block main %}
<h2>Loan Applications</h2>

<table>
    <thead>
        <tr>
            <th>Customer</th>
            <th>Amount</th>
            <th>Name</th>
            <th>Account</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for loan_request in loan_requests %}
        <tr>
            <td>{{ loan_request.user|capfirst }}</td>
            <td>{{ loan_request.amount }}</td>
            <td>{{ loan_request.name }}</td>
            <td>{{ loan_request.account }}</td>
            <td>{{ loan_request.status }}</td>
            <td>
                {% if loan_request.status == 'Pending' %}
                <form style="float: left; padding-right: 10px;" action="{% url 'bank_app:approve_loan' loan_request.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Approve">
                </form>
                <form style="float: left" action="{% url 'bank_app:decline_loan' loan_request.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Decline">
                </form>
                {% else %}
                No action required
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}

