{% extends "base.html" %}
{% block main %}

<h2>Loans</h2>

<form action="{% url 'bank_app:loan' %}" method="POST">
    {% csrf_token %}
    <fieldset>
        {{ form }}
            <button>Create Loan</button>
    </fieldset>
</form>

{% endblock main %}
