{% extends "base.html" %}

{% block main %}
<h2>Create a user</h2>
<form action="{% url 'bank_app:staff_new_customer' %}" method="post">
    {% csrf_token %}
    <fieldset>
        {{ new_user_form }}
        {{ customer_form }}
        <button>Create User</button>
    </fieldset>
</form>
{% endblock main %}
