{% extends "base.html" %}
{% block main %}

<h2>{{ account.name }}</h2>
<h5 class="account-id">Account ID: {{ account.id }}</h5>

<h4>Balance: <span class="balance">${{ account.balance }}</span></h4>
<p>Account Status: {% if account.is_active %}Active{% else %}Deactivated{% endif %}</p>
{% if account.loan %}
<p>Interest: {{ interest_rate }}% ({{ account.loan_interest }})</p>
{% endif %}

<table>
    <tr>
        <th>Transaction</th>
        <th>Amount</th>
        <th>Date</th>
        <th>ID</th>

    </tr>
    {% for movement in movements %}
    <tr>
        <td>{{ movement.text }}</td>
        <td>{{ movement.amount }}</td>
        <td class="nowrap">{{ movement.timestamp | date:"M d, Y" }}</td>
        <td>{{ movement.transaction }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock main %}

