{% extends "base.html" %}
{% block main %}

<h2>Epsilon Bank Ledger</h2>

<table>
    <tr>
        <th>Transaction</th>
        <th>Account</th>
        <th>Amount</th>
        <th>Date</th>
        <th>ID</th>
    </tr>
    {% for movements in ledger %}
    <tr>
        <td>{{ movements.text }}</td>
        <td class="nowrap">{{ movements.account.id }} | {{ movements.account.name }} {% if movements.account.is_active %} (active) {% else %} (deactivated) {% endif %}</td>
        <td>{{ movements.amount }}</td>
        <td class="nowrap">{{ movements.timestamp | date:"M d, Y" }}</td>
        <td>{{ movements.transaction }}</td>
    </tr>
    {% endfor %}
</table>

{% if ledger.has_other_pages %}
<ul class="pagination">
    {% if ledger.has_previous %}
    <li><a href="?page={{ ledger.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in ledger.paginator.page_range %}
    {% if ledger.number == i %}
    <li class="active">{{ i }}</li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if ledger.has_next %}
    <li><a href="?page={{ ledger.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>
{% endif %}

{% endblock main %}

