<tbody id="account-list">
{% for account in accounts %}
    <tr>
        <td><a href="{% url 'bank_app:staff_account_details' account.pk %}">{{ account.pk }}</a></td>
        <td>{{ account.name }}</td>
        <td>{{ account.balance|floatformat:"2" }}</td>
        <td>
            {% if account.is_active %}
            Active  {% if account.balance >= 0 %}|  <a href="{% url 'bank_app:staff_toggle_account_status' account.pk %}">(Deactivate)</a> {% endif %}
            {% else %}
            Inactive  |  <a href="{% url 'bank_app:staff_toggle_account_status' account.pk %}">(Activate)</button>
            {% endif %}
        </td>
    </tr>
{% endfor %}
</tbody>
