{% extends "base.html" %}
{% block main %}
    <h1>Welcome {{ user }}  to the staff dashboard</h1>

    </br>

    <fieldset>
        <div>
            <legend><label>Search for customer</label></legend>
            <input  name="search_term"
                    type="text"
                    placeholder="Customer Name"
                    class="form-control"
                    hx-post="{% url 'bank_app:staff_search' %}"
                    hx-trigger="keyup changed delay:500ms"
                    hx-target="#search-results"
                    hx-indicator=".htmx-indicator"
            >
            {% csrf_token %}
        </div>
        </br>

        <table>
            <thead>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Email</th>
            </thead>
            <tbody id="search-results">
            </tbody>
        </table>

    </fieldset>

    </br>

{% endblock main %}
