{% extends "base.html" %}
{% block main %}

<h2>Details for {{ customer.user.first_name }} {{ customer.user.last_name }}</h2>

<h4>Accounts</h4>

<table>
    <thead>
        <tr>
            <th>Account Number</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody
            id="account-list"
            hx-swap="outerHTML"
            hx-get="{% url 'bank_app:staff_account_list' customer.pk %}"
            hx-trigger="load"
            >
    </tbody>
</table>

<form action="{% url 'bank_app:staff_create_account' customer.pk %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h5>Add customer account</h5></legend>
        {{ new_account_form }}
        <button>Create Account</button>
    </fieldset>
</form>


<form action="{% url 'bank_app:staff_customer_details' customer.pk %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend><h5>Edit customer information</h5></legend>
        {{ user_form.as_p }}
        {{ customer_form.as_p }}
        <button>Update User</button>
    </fieldset>
</form>


{% endblock main %}
