{% extends "base.html" %}
{% block main %}

<h2>Transfers</h2>

<form action="{% url 'bank_app:transfer' %}" method="POST">
    {% csrf_token %}
    <fieldset>
        {{ form }}
        <input type="submit" value="Transfer">
    </fieldset>
</form>

<h2>External transfer</h2>

<form action="{% url 'bank_app:external_transfer' %}" method="POST">
    {% csrf_token %}
    {{ extform.as_p }}
    <input type="submit" value="External Transfer">
</form>

{% endblock main %}

