{% extends "base.html" %}   
{% block main %}

<h1>Something went wrong :(</h1>
{% if exception %}
<h4 class="error-message">{{ exception }}</h1>
{% else %}
<h4 class="error-mesage">You don't have access to this page.</h1>
{% endif %}
<p>403 Forbidden</p>
<button onclick="history.back()">Go Back</button>

{% endblock main %}
