<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" type="text/css" href="https://cdn.simplecss.org/simple.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" media="screen" />
        <title>Epsilon Bank</title>
    </head>
    <body>

        <header>
            {% if user.is_staff %}
            <h1>Staff Portal</h1>
            {% else %}
            <h1>Customer Dashboard</h1>
            <p><strong>{{ user.customer.bank.name }}'s Bank</strong></p>
            {% endif %}

            <nav>
                <ul style="list-style: none">
                    {% if user.is_staff %}
                    <li><a href="{% url 'bank_app:index' %}">Staff Dashboard</a></li>
                    <li><a href="{% url 'bank_app:loan_requests' %}">Loan Requests</a></li>
                    <li><a href="{% url 'bank_app:staff_new_customer' %}">Create User</a></li>
                    <li><a href="{% url 'bank_app:staff_ledger' %}">Ledger</a></li>
                    {% else %}
                    <li><a href="{% url 'bank_app:index' %}">Dashboard</a></li>
                    <li><a href="{% url 'bank_app:create_account' %}">Create Account</a></li>
                    <li><a href="{% url 'bank_app:transfer' %}">Transfer</a></li>
                    <li><a href="{% url 'bank_app:loan' %}">Loan</a></li>
                    {% endif %}
                    {% if user.is_superuser %}
                    <li><a href="/admin">Admin</a></li>
                    {% endif %}
                    <li><a href="/account/two_factor/">Two Factor Settings</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Sign out</a></li>
                    {% endif %}
                </ul>
            </nav>

        </header>

        <main>
            {% block main %} <!-- Start of the main block, allows us to use it in other documents -->
            {% endblock main %} <!-- End of the main block -->
        </main>

        <footer>
            <p>&copy; 2023 Epsilon Inc.</p>
        </footer>
        <script src="https://unpkg.com/htmx.org@1.9.0"></script>
            <script>
                document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            })
        </script>
    </body>
</html>

