{% load i18n %}

{% if cancel_url %}
    <a href="{{ cancel_url }}"
      class="float-right btn btn-link" style="font-size: 1rem;
          margin-right: 10px;">{% trans "Cancel" %}</a>
{% endif %}
{% if wizard.steps.prev %}
    <button name="wizard_goto_step" type="submit"
            value="{{ wizard.steps.prev }}"
            class="btn btn-secondary" style="margin-right: 10px; padding: 0.75rem 2rem;">{% trans "Back" %}
    </button>
{% else %}
    <button disabled name="" type="button" class="btn" style="margin-right: 10px;
            padding: 0.75rem 2rem;">{% trans "Back" %}</button>
{% endif %}
<button type="submit" class="btn btn-primary" style="margin-right: 10px; padding: 0.75rem 2rem;">{% trans "Next" %}</button>
