{% extends "../two_factor/_base.html" %}

{% block sub_content %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <fieldset>
    <label>
        User Name
        <input name="username" type="text" />
    </label>
    <label>
        Password
        <input name="password" type="password" />
    </label>
    <button>Log In</button>
    </fieldset>
</form>
{% endblock main %}

