body {
    grid-template-columns: 1fr min(60rem,90%) 1fr !important;
}

/* Making navigation horizontal instead of vertical and removing bullets */
nav ul, .pagination {
    list-style: none;
}

nav ul li {
    display: inline;
    float: left;
}

nav ul li a {
    border: none;
}

/* Pagination */

.pagination {
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
}

.pagination li {
    display: inline;
    margin-right: 10px;
}

.pagination li a {
   text-decoration: none !important;
   color: black !important;
}

.active {
    color: steelblue !important;
    font-weight: 600 !important;
}

.disabled {
    color: lightgrey;
}

/* Setting table width to 100% of parent */
table {
    width: 100%;
}

.nowrap {
    white-space: nowrap;
}

/* Makes buttons sit below input fields rather than inline */
input {
    display: block !important;
}

/* Rank-tag */
.tags {
    display: inline;
    border-radius: 3px;
    background: gold !important;
    padding: 8px 16px !important;
}

.rank-tag {
    background: gold !important;
}

.status-tag-active {
    background: #5cc35c !important;
    color: white;
}

.status-tag-inactive {
    background: #e3e0e0 !important;
}

.account-id {
    margin-top: -30px !important;
    font-weight: 400;
    font-style: italic;
}

.account-name {
    margin-bottom: 1.5rem;
}

.balance {
    font-size: 1.8rem;
    color: steelblue;
    font-weight: 800;
}
